@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cdd0b0;

  .app-header {
    background-color: #d4dead;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h1 {
      font-size: 40px;
      font-weight: 1000;
      color: #3bafcf;
      font-family: 'Cinzel', serif;
      margin: 0;
    }

    p {
      font-size: 18px;
      font-family: 'Cinzel', serif;
      margin: 5px 0 0 0;
    }
    img {
      max-width: 300px; 
      max-height: 100px;
    }
  }

  .film-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
  }

  .film-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0f7fa;
    border-radius: 8px 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 20px;
    transition: transform 0.2s;

    &:hover {
      transform: translateY(-5px);
    }

    img {
      max-width: 80%;
      height: auto;
      border-radius: 8px;
    }

    p {
      margin-top: 10px;
      font-size: 16px;
      font-family: 'Cinzel', serif;
      text-align: center;
      font-weight: lighter;
    }
  }
}
